// COLORS

$color-white: #fff;
$color-black: #000;
$color-primary-light: #F3F3ED;
$color-primary-dark: #707070;

$color-pink-light: #FFFBFB;
$color-pink-dark: #F2E3E3;

$color-font-light: #F5F5F5;
$color-form-bg: #FFFEFE;

// FONTS

$font-default-mobile: 2.2rem;

// SIZES

$container-max-width: 1300px;