body {
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 1.7;
    color: $color-primary-dark;
}

.heading-primary {
    text-transform: uppercase;

    &--main {
        font-size: 5rem;
        display: block;

        @media screen and(min-width: 900px) {
            font-size: 8rem;
            line-height: 1.1;
        }

        @media screen and(min-width: 1200px) {
            font-size: 6rem;
            line-height: 1.1;
        }
    }

    &--sub {
        font-size: 2.75rem;
        display: block;
        line-height: 1.3;

        @media screen and(min-width: 900px) {
            font-size: 3.5rem;
            line-height: 1.1;
        }

        @media screen and(min-width: 1200px) {
            font-size: 3rem;
            line-height: 1.1;
        }
    }
}

.heading-secondary {
    font-size: 2.75rem;
    line-height: 1.3;
    font-weight: 300;

    @media screen and(min-width: 900px) {
        font-size: 3.5rem;
        line-height: 1.1;
    }

    @media screen and(min-width: 1200px) {
        font-size: 3rem;
        line-height: 1.1;
    }
}

.heading-tertiary {
    font-size: 2.5rem;
    text-transform: uppercase;

    @media screen and(min-width: 900px) {
        font-size: 3.5rem;
    }
}

.heading-quaternary {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3;

    @media screen and(min-width: 900px) {
        font-size: 2.5rem;
    }
}

.paragraph {
    font-size: $font-default-mobile;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    @media screen and(min-width: 900px) {
        font-size: 2rem;
    }
}