.contact {
    background-color: $color-primary-light;

    &__form {
        background-color: $color-form-bg;
        padding: 6rem 2rem;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        max-width: 70rem;
        margin: 0 auto;
        margin-bottom: 5rem;

        button {
            margin: 0 auto;
        }

        @media screen and(min-width: 900px) {
            padding: 6rem 2rem;
        }
    }
}