.footer {
    background-color: $color-primary-dark;
    color: $color-primary-light;

    &__heading {
        font-size: 4rem;
        text-transform: capitalize;
    }

    &__img-box {
        width: 15rem;
        margin: 0 auto;
    }

    &__links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__link {

        &,
        &:link,
        &:visited {
            color: $color-primary-light;
            font-size: $font-default-mobile;
            text-transform: uppercase;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}