.hero {
    background-color: $color-primary-light;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        @media screen and (min-width: 600px) {
           
        }

        .heading-primary {
            grid-column: 1 / -1;

            @media screen and (min-width: 600px) {}
        }

        .heading-secondary {


            @media screen and (min-width: 600px) {}
        }

        .btn-primary {
            grid-column: 1 / -1;
        }
    }

    &__logo-img-box {
       width: 10rem;
       justify-self: center;

        @media screen and (min-width: 600px) {
          
        }
        
    }

    &__hero-img-box {
        overflow: hidden;
        border-radius: 4px;
         grid-column: 1 / -1;

        @media screen and (min-width: 600px) {
           
        }
    }

}