.hero {
    background-color: $color-primary-light;

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .heading-primary--main {
            grid-column: 1 / -1;
        }

        .heading-primary--sub {
            grid-column: 1 / 3;
            margin-right: 1rem;
        }
    }

    &__logo-img-box {
        width: 10rem;
        grid-column: 3 / 4;
    }

    &__button {
        font-size: $font-default-mobile;
        background-color: $color-primary-dark;
        color: $color-primary-light;
        padding: .75rem 3.5rem;
        border-radius: 50px;
        text-transform: uppercase;
        font-weight: 700;
    }
}