.hero {
    background-color: $color-primary-light;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        @media screen and (min-width: 600px) {
           grid-template-columns: 1fr 1fr 1fr;
        }

        .heading-primary {
            grid-column: 1 / -1;

            @media screen and (min-width: 600px) {
                grid-column: 1 / 3;
            }
        }

        .heading-secondary {


            @media screen and (min-width: 600px) {
                grid-column: 1 / 3;
            }
        }

        .btn--primary {
            grid-column: 1 / -1;

            @media screen and (min-width: 600px) {
                align-self: start;
                grid-column: 1;
            }
        }
    }

    &__logo-img-box {
       width: 15rem;
       justify-self: center;

        @media screen and (min-width: 600px) {
            grid-column: 3 / 4;
            grid-row: 1 / 3;
        }
        
    }

    &__hero-img-box {
        overflow: hidden;
        border-radius: 4px;
         grid-column: 1 / -1;

        @media screen and (min-width: 600px) {
           grid-column: 2 / 4;
        }
    }

}