.navigation {
    position: relative;
    margin: 2rem 0;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__brand {
        display: flex;
        align-items: center;
    }

    &__img-box {
        width: 5rem;
    }

    &__name {
        font-family: 'Lobster';
        font-size: 3rem;
        margin-left: .5rem;

        @media screen and(min-width: 900px) {
            font-size: 4rem;
        }
    }

    &__links {
        display: none;

        @media screen and(min-width: 900px) {
            display: flex;
            align-items: center;
        }
    }

    &__link {
        font-size: $font-default-mobile;
        text-transform: uppercase;
        color: $color-primary-dark;
        position: relative;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background-color: $color-primary-dark;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .3s ease-in;
        }

        &:hover::after {
            transform-origin: right;
            transform: scaleX(1);
            transition: transform .3s ease-in;
        }
    }

    &__button {
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 2000;

        &:hover {
            outline: none;
        }

        &:active {
            outline: none;
        }

        &:focus {
            outline: none;
        }

        &--fixed {
            position: fixed;
            top: 4.75rem;
            right: 1.1rem;
        }
        
        @media screen and(min-width: 900px) {
            display: none;
        }
    }

    &__icon {
        position: relative;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-primary-dark;
            display: inline-block;
            transition: all .2s;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;

        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }

        &--rotate {
            background-color: transparent;
        }

        &--rotate::before {
            top: 0;
            transform: rotate(135deg);
            background-color: red;
           
        }

        &--rotate::after {
            top: 0;
            transform: rotate(-135deg);
            background-color: red;
        
        }
    }

}