.services {
    &__img-box {
        position: relative;
        width: 97%;
        
        &::after {
            content: '';
            position: absolute;
            left: 1rem;
            top: 1rem;
            width: 100%;
            height: 100%;
            background-color: $color-pink-light;
            z-index: -2;
            border-radius: 4px;
        }
    }

    &__img {
        border-radius: 4px;
    }
}